<div class="ui-g ui-fluid">
  <div class=" ui-g-12">
    <div class="card card-w-title">
      <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>
    </div>
    <div class="card card-w-title">
      <div  *ngIf="activeIndex == 0">
          <app-cotizacion [activeIndex]="activeIndex" [emision]="emision"  (enviarPadre)="cerrarParcial($event)"></app-cotizacion>

      </div>
      <div *ngIf="activeIndex == 1">
          <app-cliente [activeIndex]="activeIndex"  [emision]="emision" (enviarPadre)="cerrarParcial($event)"></app-cliente>
    
      </div>
      <div  *ngIf="activeIndex == 2">
          <app-cliente-domicilio [activeIndex]="activeIndex" [emision]="emision" (enviarPadre)="cerrarParcial($event)"></app-cliente-domicilio >
            
      </div>
      <div  *ngIf="activeIndex == 3">
          <app-financiero [activeIndex]="activeIndex" [emision]="emision"  (enviarPadre)="cerrarParcial($event)"></app-financiero>
    
      </div>
      <div  *ngIf="activeIndex == 4">
        <app-forma-pago [activeIndex]="activeIndex" [emision]="emision"   (enviarPadre)="cerrarParcial($event)"></app-forma-pago>
    
      </div>

      <div  *ngIf="activeIndex == 5">
        <app-beneficiarios-dependientes  *ngIf="ramo !==  '04' && ramo !==  '34' " [activeIndex]="activeIndex" [emision]="emision"  (enviarPadre)="cerrarParcial($event)"></app-beneficiarios-dependientes>
        <app-hogar *ngIf="ramo ===  '04' || ramo ===  '34'" [activeIndex]="activeIndex" [emision]="emision"   (enviarPadre)="cerrarParcial($event)"></app-hogar>
    
      </div>
      <div  *ngIf="activeIndex == 6">
        <app-datos-facturacion [activeIndex]="activeIndex"  [emision]="emision"  (enviarPadre)="cerrarParcial($event)"></app-datos-facturacion>
    
      </div>
      <div  *ngIf="activeIndex == 7">
        <app-emision [activeIndex]="activeIndex" [emision]="emision"   (enviarPadre)="cerrarParcial($event)"></app-emision>
    
      </div>

    </div>




    
  </div>
</div>