<h2 class="titulo">Cotización</h2>
<div class="ui-g ui-fluid form-group">

  <div class="ui-g-12 ui-md-4">

    <p-panel header="Productos">

      <p-listbox [options]="productos" optionLabel="pda_descrip_conf_prod" [listStyle]="{'max-height':'250px'}"
        (onChange)="seleccionarProducto($event)"></p-listbox>

    </p-panel>

  </div>

  <div class="ui-g-12 ui-md-4">

    <p-panel header="Coberturas">

      <p-listbox [options]="coberturas" optionLabel="descripcion" [listStyle]="{'max-height':'250px'}" readonly="true"></p-listbox>

    </p-panel>

  </div>

  <div class="ui-g-12 ui-md-4">

    <p-panel header="Cálculo de Prima">

      <div class="ui-g">
        <div class="ui-g-12">
          Suma Asegurada: <label style="color: #2062af;font-size: large;font-weight: 600;float: right;"> {{sumaaseg | currency: 'USD':'symbol':'1.2-2'}}</label>
        </div>
        <div class="ui-g-12">
          <p-dropdown placeholder="Seleccione" [options]="plazo" [autoWidth]="false" [(ngModel)]="fren_pago" (onChange)="seleccionarPlazo($event)"></p-dropdown>
        </div>
        <div   class="ui-g-12 valor-total" >
            {{prima | currency: 'USD': 'symbol': '1.2-2'}}
        </div>
        <div class="ui-g-12" style="text-align:right">
          Valor Anualizado: {{anual | currency: 'USD': 'symbol': '1.2-2'}}
        </div>
      </div>
    </p-panel>

  </div>

  <div class=" ui-g-12">
    <div class=" ui-g-6">
      <!-- <p-button  icon="pi pi-arrow-left" label="Atras" (click)=" anterior()"></p-button> -->
    </div>
    <div class=" ui-g-6" style="text-align:right">
      <p-button  [disabled]="fren_pago==null || prima == 0" icon="pi pi-arrow-right" iconPos="right" label="Siguiente" (click)="siguiente()"></p-button>
    </div>
  </div>

</div>