<p-growl [(value)]="msgs" [life]="5000"></p-growl>

<div id="overlay" class="overlay" *ngIf="loader"> </div>
<div id="loader" class="app-loading" *ngIf="loader">
  <div class="logo"></div>
  <svg class="spinner" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
  </svg>
</div>

<div id="crossfade">
  <img src="./assets/img/fondo.jpg" alt="Image 1">

</div>
<div class="cont">
  <div class="demo">
    <div class="login">
      <a class="ui-g-12">
        <img class="imgLogo" src="./assets/img/sdp-01.png">
      </a>
      <div class="login__form">
        <form class="s-login-pg-form" name="form" (ngSubmit)="sendPassw()" #f="ngForm" autocomplete="off">
          <div class="login__row">
            <span class="login__icon name svg-icon" viewBox="0 0 20 20">

            </span>
            <input class="login__input name" id="email2send" type="text" name="email2send" [(ngModel)]="model.email2send"
              required pInputText placeholder="Correo electrónico" />
          </div>
          <button class="login2" type="submit">Enviar</button>
          <p class="login__signup">Regresar a la ventana de &nbsp;<a (click)="openLogin()" > Ingreso</a></p>
        </form>
      </div>
    </div>
  </div>
</div>