<p-toolbar>




</p-toolbar>

<p-table [columns]="cols" [value]="empresas" selectionMode="single" [(selection)]="selectedEmpresas" (onRowSelect)="onRowSelect($event)"
    [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
        Lista de Empresas
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Agregar"></button>
        </div>
    </ng-template>
</p-table>

<p-dialog header="Empresa Detalle" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="600">
    <div class="ui-g ui-fluid form-group"> 
    <form [formGroup]="formulario" >
      <div class="ui-g form-group">
 
      <div class="ui-g-12 ui-md-6">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="15" pInputText [(ngModel)]="formulario.get('emp_ruc').value"  formControlName="emp_ruc"> 
          <label for="float-input">Empresa Ruc</label>
      </span>
      </div>
      <div class="ui-g-12 ui-md-6">
          <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText [(ngModel)]="formulario.get('emp_razon_social').value"  formControlName="emp_razon_social"> 
              <label for="float-input">Razon Social</label>
          </span>          
      </div>

      <div class="ui-g-12 ui-md-6">
        <span class="ui-float-label">
            <label class="label-list">Tipo de empresa ?</label>
            <p-dropdown placeholder="Seleccione" id="emp_tipo" formControlName="emp_tipo" [options]="tip_empresa"
                [autoWidth]="false" [style]="{'width': '100%'}"></p-dropdown>
        </span>
        </div>
      <div class="ui-g-12 ui-md-6">
          <span class="ui-float-label">
              <input id="float-input" type="email" size="30" pInputText [(ngModel)]="formulario.get('emp_email').value"  formControlName="emp_email"> 
              <label for="float-input">Email</label>
          </span>            
      </div>
  </div>
  </form>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-check" (click)="save()" label="Guardar" class="ui-button-success ui-button-rounded"></button>
     
        <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Eliminar"  class="ui-button-danger ui-button-rounded"></button>
            </div>
  </p-footer>
</p-dialog>