

        

<div class="layout-wrapper" [ngClass]="{'layout-menu-horizontal': menuMode === 'horizontal',
                                        'layout-menu-overlay': menuMode === 'overlay',
                                        'layout-menu-static': menuMode === 'static',
                                        'layout-menu-slim': menuMode === 'slim',
                                        'layout-menu-light': lightMenu === true,
                                        'layout-menu-overlay-active': overlayMenuActive,
                                        'layout-menu-mobile-active': staticMenuMobileActive,
                                        'layout-menu-static-inactive': staticMenuDesktopInactive}" (click)="onLayoutClick()">
    <app-topbar></app-topbar>
    <div id="overlay" class="overlay" *ngIf="loader"> </div>
    <div id="loader" class="app-loading" *ngIf="loader">
        <div class="logo"></div>
        <svg class="spinner" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <app-rightpanel></app-rightpanel>

    <app-menu [reset]="resetMenu"></app-menu>

    <div class="layout-main">
        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>

       <!-- <app-footer></app-footer>-->
    </div>
</div>
