<p-table [columns]="cols" [value]="datos">
    <ng-template pTemplate="caption">
        Lista de Emisiónes
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" >
                {{rowData[col.field]}}
            </td>
            <td></td>
        </tr>
    </ng-template>

</p-table>
