<h2 class="titulo">Beneficiarios y Dependientes</h2>
<div class="ui-g ui-fluid form-group">
        <div class="ui-g-12 ">
    <div class="ui-g-12 ui-md-3">

        <p-panel header="Configuración Grupo" >
  
                <div class="ui-g ui-fluid form-group" *ngFor="let car of gruposconfig">
                  <label style="    color: #1b60b2;font-weight: bold;">{{car.gxp_descripcion}}</label>  
                    <div class="ui-g-12 ">

                        <label style="font-weight:bold">Cantidad Personas :</label><label> {{car.gxp_num_per}}</label>

                    </div>
                    <div class="ui-g-12 ">

                        <label style="font-weight:bold">Edad Minima :</label><label> {{car.gxp_edad_min}}</label>

                    </div>
                    <div class="ui-g-12 ">

                        <label style="font-weight:bold">Edad Maxima :</label><label> {{car.gxp_edad_max}}</label>

                    </div>
                </div>
         
    </p-panel> 
    <br>
    <button pButton icon="pi pi-new" iconPos="right" label="Nueva Persona" class="ui-button-rounded"
    (click)="nuevofurmulario()"></button>
    </div>
    <div class="ui-g-12 ui-md-9">

        <div class="ui-g-12 ">
            <p-panel header="Ingreso de datos de la persona">
                <form [formGroup]="formulario" style="width:100%">

                    <div class="ui-g" >
                        <div class="ui-g-12 ui-md-3">
                            <span class="ui-float-label">
                                <label class="label-list">Tipo identificación</label>
                                <p-dropdown placeholder="Seleccione" id="tipo_identificacion" formControlName="tipo_identificacion"
                                    [options]="tipoId" [autoWidth]="false"></p-dropdown>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <span class="ui-float-label">
                                <input id="identificacion" formControlName="identificacion" type="text" maxlength="15"
                                    pInputText>
                                <label>Identificación</label>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <span class="ui-float-label">
                                <label class="label-list">Fecha de Nacimiento</label>
                                <p-calendar id="fecha_nacimiento" formControlName="fecha_nacimiento" [locale]="es"
                                    dateFormat="dd/mm/yy" (onSelect)="CalculateAge()" [monthNavigator]="true"
                                    [yearNavigator]="true" yearRange="1940:2020"></p-calendar>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <span class="ui-float-label">
                                <input id="edad" formControlName="edad" type="number" pInputText (keypress)="modificaEdad()">
                                <label for="float-input">Edad</label>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <span class="ui-float-label">
                                <input id="primer_nombre" formControlName="primer_nombre" type="text" maxlength="15"
                                    pInputText>
                                <label for="float-input">Primer Nombre</label>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <span class="ui-float-label">
                                <input id="segundo_nombre" formControlName="segundo_nombre" type="text" maxlength="15"
                                    pInputText>
                                <label for="float-input">Segundo Nombre</label>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <span class="ui-float-label">
                                <input id="primer_apellido" formControlName="primer_apellido" type="text" maxlength="15"
                                    pInputText>
                                <label for="float-input">Primer Apellido</label>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <span class="ui-float-label">
                                <input id="segundo_apellido" formControlName="segundo_apellido" type="text" maxlength="15"
                                    pInputText>
                                <label for="float-input">Segundo Apellido</label>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <span class="ui-float-label">
                                <label class="label-list">Genero</label>
                                <p-dropdown placeholder="Seleccione" id="genero" formControlName="genero" [options]="generos"
                                    [autoWidth]="false"></p-dropdown>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-3">
                            <span class="ui-float-label">
                                <label class="label-list">Parentesco</label>
                                <p-dropdown placeholder="Seleccione" id="paren" formControlName="paren" [options]="tipo_parentesco_final"
                                    [autoWidth]="false"></p-dropdown>
                            </span>
                        </div>
                      
                        <div class="ui-g-12 ui-md-3">
                                <span class="ui-float-label">
                                    <label class="label-list">Grupo</label>
                                    <p-multiSelect [options]="grupos" [(ngModel)]="selectedCars1"  formControlName="grupo" defaultLabel="Seleccione" [filter]="false" (onChange)="seleccionarGrupo($event)"></p-multiSelect>
                                </span>
                            </div>
                            <div class="ui-g-12 ui-md-3"   *ngIf="mostrarPart">
                                    <span class="ui-float-label" >
                                        <input id="participacion" formControlName="participacion" type="text" maxlength="3"
                                            pKeyFilter="pnum" pInputText>
                                        <label for="float-input">Participación</label>
                                    </span>
                                </div>
                        <div class="ui-g-12 " >
                            <button pButton icon="pi pi-save" iconPos="right" label="Guardar" class="ui-button-success ui-button-rounded"
                                (click)="guardar()"></button>

                        </div>
                    </div>
                </form>
            </p-panel>
        </div>
  



    </div>
</div>
    <div class="ui-g-12 ">
            <p-panel header="Tabla de Personas">
                <p-table [columns]="cols" [value]="table">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th></th>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr >
                            <td>
                                <!-- <button pButton icon="pi pi-clone" [disabled]="gruposelect.id == null" style="margin: 2px;"
                                    class="ui-button-success ui-button-rounded" (click)="clone(rowData)" ></button> -->
                                <button pButton icon="pi pi-pencil" style="margin: 2px;" class=" ui-button-rounded"
                                    (click)="edit(rowData)"></button>
                                <button pButton icon="pi pi-trash" style="margin: 2px;" class="ui-button-danger ui-button-rounded"
                                    (click)="delete(rowData)"></button>


                            </td>
                            <td>   <p-multiSelect [options]="grupos" [(ngModel)]="rowData.grupo"  defaultLabel="Seleccione" [filter]="false" readonly="true" [disabled]="true" ></p-multiSelect>
                            </td>
                            <!-- <td> <label *ngFor="let car of rowData.grupo">-{{car.name}}</label> </td> -->
                            <td>{{rowData.paren_name}}</td>
                            <td>{{rowData.primer_nombre}}</td>
                            <td>{{rowData.primer_apellido}}</td>
                            <td>{{rowData.edad}}</td>
                            <td>{{rowData.participacion}}</td>
                         
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        Participación Total: {{part_total}}
                    </ng-template>
                </p-table>


            </p-panel>
        </div>
    <div class=" ui-g-12">
        <div class=" ui-g-6">
            <p-button icon="pi pi-arrow-left" label="Atras" (click)=" anterior()"></p-button>
        </div>
        <div *ngIf="part_total===100" class=" ui-g-6" style="text-align:right">
            <p-button icon="pi pi-arrow-right" iconPos="right" label="Siguiente" (click)="siguiente()"></p-button>
        </div>
    </div>
</div>